@model IEnumerable<TrackingBugs.Models.Ticket>

@{
    ViewData["Title"] = "Index";
}

<h1>@ViewData["Title"]</h1>

<div class="main-content">
    <div class="main-container container-fluid">
        <div class="inner-body">
            @if (Model.Count() != 0)
            {
                <table id="ticketTable" class="table">
                    <thead>
                        <tr>
                            <th>
                                Priority
                            </th>
                            <th>
                                Project
                            </th>
                            <th>
                                Title
                            </th>
                            <th>
                                Submitter
                            </th>
                            <th>
                                Developer
                            </th>
                            <th>
                                Status
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Ticket ticket in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => ticket.TicketPriority.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => ticket.Project.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => ticket.Title)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => ticket.SubmitterUser.FullName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => ticket.DeveloperUser.FullName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => ticket.TicketStatus.Name)
                                </td>
                                <td>
                                    <form asp-action="ArchiveToggle" asp-controller="Tickets">
                                        <input type="hidden" asp-for="@ticket.Id" name="id"/>
                                        @if (ticket.Archived == true)
                                        {
                                            <input type="submit" class="btn btn-success" value="Unarchive">
                                        }
                                        else
                                        {
                                            <input type="submit" class="btn btn-danger" value="Archive">
                                        }
                                    </form>
                                    <a class="btn btn-primary px-2" asp-action="Details" asp-route-id="@ticket.Id">Details</a>
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <H5>There are no tickets.</H5>
            }
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $('#ticketTable').DataTable({
            responsive: true,
            language: {
                searchPlaceholder: 'Search...',
                sSearch: '',
                lengthMenu: '_MENU_ items/page',
            }
        });
    </script>
}
