@model IEnumerable<TrackingBugs.Models.Ticket>

@{
    ViewData["Title"] = "Index";
}

<h1>@ViewData["Title"]</h1>
@if(Model != null ){
<table id="ticketTable" class="table">
    <thead>
        <tr>
            <th>
                Priority
            </th>
            <th>
                Project
            </th>
            <th>
                Title
            </th>
            <th>
                Submitter
            </th>
            <th>
                Developer
            </th>
            <th>
                Status
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TicketPriority.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Project.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubmitterUser.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeveloperUser.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TicketStatus.Name)
                </td>
                <td>
                    <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Details</a>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Archive</a>
                </td>
            </tr>
        }
    </tbody>
    </table>
}
else
{
    <H5>There are no tickets.</H5>
}

@section Scripts{
    <script>
        $('#ticketTable').DataTable({
            responsive: true,
            language: {
                searchPlaceholder: 'Search...',
                sSearch: '',
                lengthMenu: '_MENU_ items/page',
            }
        });
    </script>
}
