@using Microsoft.AspNetCore.Identity;
@inject UserManager<BTUser> UserManager
@inject IBTFileService FileService
@inject IBTRoleService RoleService
@inject IBTTicketService TicketService
@inject IBTNotificationService NotificationService
@inject IProjectService ProjectService
@model DashboardVM
@using TrackingBugs.Enums

@{
	ViewData["Title"] = "Dashboard";
	BTUser? appUser = await UserManager.GetUserAsync(User);
	Project recentProject = await ProjectService.GetNewestPriorityProjectByCompanyIdAsync(appUser.CompanyId);
	BTUser? projectManager = await ProjectService.GetProjectManagerAsync(recentProject.Id);
}

<!-- Main Content-->
<div class="main-content pt-0">

	<div class="main-container container-fluid">
		<div class="inner-body">

			<!-- Page Header -->
			<div class="page-header">
				<div>
					<h2 class="main-content-title tx-24 mg-b-5">Dashboard</h2>
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="#">Dashboard</a></li>
					</ol>
				</div>
			</div>
			<!-- End Page Header -->
			<!-- row opened -->
			<div class="row row-sm">
				<div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
					<div class="card custom-card">
						<div class="card-body row">
							<div class="col-sm-5 d-flex no-block align-items-center">
								<div>
									<span class="tx-18 mb-3">@appUser.Company.Name</span>
									<h2 class="mb-2 mt-2">@appUser.FullName</h2>
									<span class="m-0 tx-15 mt-4 text-muted">@(string.Join(", ", await RoleService.GetUserRolesAsync(appUser)))</span>
									
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
					<div class="card custom-card">
						<div class="card-body">
							<span class="tx-18">Active</span>
							<div class="row mt-3">
								<div class="col-sm-6 my-auto border-end text-centerd-flex no-block align-items-center">
									<div class="d-flex">
										<div class="my-auto d-block ms-3">
											<h3>@Model.Projects.Where(p => p.StartDate < DateTime.Now && p.EndDate > DateTime.Now).Count()</h3>
											<span>Active Projects</span>
										</div>
									</div>
								</div>
								<div class="col-sm-6 my-auto text-sm-center">
									<h3>@Model.Tickets.Count()</h3>
									<span>Total Tickets</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- row closed -->
			<!-- row opened -->
			<div class="row row-sm">
				<div class="col-md-12 col-sm-12 col-lg-12 col-xl-12 col-xxl-4">
					<div class="card custom-card wallet-1">
						<h5>Projects: Tickets vs Developers</h5>
						<!-- HTML -->
						<div id="plotlyChart"></div>
					</div>
				</div>
				<div class="col-xl-12 col-xxl-8 col-lg-12 col-md-12">
					<div class="card card-bitcoin custom-card">
						<div class="card-header border-bottom-0">
							<label class="main-content-label my-auto pt-2">Tickets</label>
						</div>
						<div class="card-body">
							<table id="ticketTable" class="table">
								<thead>
									<tr>
										<th>
											Priority
										</th>
										<th>
											Project
										</th>
										<th>
											Title
										</th>
										<th>
											Status
										</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									@foreach (var item in Model.Tickets)
									{
										<tr>
											<td>
												@Html.DisplayFor(modelItem => item.TicketPriority.Name)
											</td>
											<td>
												@Html.DisplayFor(modelItem => item.Project.Name)
											</td>
											<td>
												@Html.DisplayFor(modelItem => item.Title)
											</td>
											<td>
												@Html.DisplayFor(modelItem => item.TicketStatus.Name)
											</td>
											<td>
												<a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id" asp-controller="Tickets">Details</a>
											</td>
										</tr>
									}
								</tbody>
							</table>
							<!-- row -->
							</div>
						</div>
					</div>
				</div>

			</div>
			<!-- row closed -->
			<!-- row opened -->
			<div class="row row-sm">
				<div class="col-md-12 col-sm-12 col-lg-12 col-xl-12 col-xxl-8">

					<div class="card custom-card">
						<div class="card-body border pd-b-10">
		
							<!-- row -->
							<div class="row row-sm">
								<h5>Team</h5>
								@foreach (BTUser member in Model.Members)
								{

										<partial name="_MembersCardPartial" model="member" />
									
								}

							</div>
						</div>
					</div>
				</div>
				<div class="col-md-12 col-sm-12 col-lg-12  col-xl-12 col-xxl-4">
					<div class="card custom-card overflow-hidden">
						<div class="card-header border-bottom-0">
							<label class="main-content-label my-auto pt-2">Newest Project</label>
							
						</div>

							<div class="card custom-card">
								<div class="card-header custom-card-header border-bottom-0">
									<h5 class="main-content-label tx-dark tx-medium mb-0">
										@if (projectManager != null)
										{
											<div class="fw-medium fs-lg">
												@projectManager.FullName
											</div>
											<div class="text-garay-600 mt-1">Project Manager</div>
										}
										else
										{
											<span>No Project Manager</span>
										}
									</h5>
								</div>
								<div class="card-body">
									<h6 class="">@recentProject.Name</h6>
									<p class="card-text">@recentProject.Description</p>
									<div class="w-full row text-gray-600 fs-xs fs-sm-sm text-center p-2">
										<div class="col-6 border-end"> Developers: <span class="fw-medium">@((await ProjectService.GetProjectMembersByRoleAsync(recentProject.Id, nameof(BTRoles.Developer), recentProject.CompanyId)).Count)</span></div>
										<div class="col-6 border-start"> Submitters: <span class="fw-medium">@((await ProjectService.GetProjectMembersByRoleAsync(recentProject.Id, nameof(BTRoles.Developer), recentProject.CompanyId)).Count)</span> </div>
									</div>
									<a asp-action="Details" asp-route-id="@recentProject.Id" asp-controller="Projects" class="btn btn-primary ripple btn-block">Details</a>
								</div>
							</div>
						
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End Main Content-->



@section Scripts{
	<!--  Plotly Charts  -->
	<!-- Load plotly.js into the DOM -->
	<script src='https://cdn.plot.ly/plotly-2.4.2.min.js'></script>
	<script>
		$.ajax({
			type: "POST",
			url: "/Home/PlotlyBarChart",
			data: '{}',
			contentType: "application/json; charset=utf-8",
			dataType: "json",
			success: function (result) {
				var data = result;

				var layout = { barmode: 'group' };

				Plotly.newPlot('plotlyChart', data, layout);
			},
			failure: function (result) {
				alert(result.d);
			},
			error: function (result) {
				alert(result.d);
			}
		});
	</script>

	<!--DataTables-->
	<script>
		$('#ticketTable').DataTable({
			responsive: true,
			language: {
				searchPlaceholder: 'Search...',
				sSearch: '',
				lengthMenu: '_MENU_ items/page',
			}
		});
	</script>
}