@model TrackingBugs.Models.Company
@inject IBTRoleService _RoleService
@inject IProjectService _ProjectService
@inject IBTFileService _FileService

@{

    ViewData["Title"] = "Details";
}


<!-- Main Content-->
<div class="main-content pt-0">

    <div class="main-container container-fluid">
        <div class="inner-body">

            <!-- Page Header -->
            <div class="page-header">
                <div>
                    <h2 class="main-content-title tx-24 mg-b-5">@Model.Name</h2>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">@Model.Name</a></li>
                    </ol>
                </div>
            </div>
            <!-- End Page Header -->

            <div class="row square">
                <div class="col-lg-12 col-md-12">
                    <div class="card custom-card">
                        <div class="card-body">
                            <div class="panel profile-cover">
                                <div class="profile-cover__img">
                                    <img src="~/assets/img/users/1.jpg" alt="img" />
                                    <h3 class="h3">@Model.Name</h3>
                                </div>
                                <div class="profile-cover__action bg-img"></div>
                                <div class="profile-cover__info">
                                    <ul class="nav">
                                        <li><strong>@Model.Members.Count</strong>Members</li>
                                        <li><strong>@Model.Projects.Count</strong>Projects</li>
                                        <li><strong>@Model.Invites.Count</strong>Invites</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="profile-tab tab-menu-heading">
                                <nav class="nav main-nav-line p-3 tabs-menu profile-nav-line bg-gray-100">
                                    <a class="nav-link  active" data-bs-toggle="tab" href="#about">About</a>
                                    <a class="nav-link" data-bs-toggle="tab" href="#projects">Projects</a>
                                    <a class="nav-link" data-bs-toggle="tab" href="#members">Members</a>
                                    @if (User.IsInRole("Admin"))
                                    {
                                        <a class="nav-link" data-bs-toggle="tab" href="#settings">Company Settings</a>
                                    }

                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Row -->
            <div class="row row-sm">
                <div class="col-lg-12 col-md-12">
                    <div class="card custom-card main-content-body-profile">
                        <div class="tab-content">
                            <div class="main-content-body tab-pane p-4 border-top-0 active" id="about">
                                <div class="card-body p-0 rounded-10">
                                    <div class="p-4">
                                        <h4 class="tx-15 text-uppercase mb-3">Who Are We:</h4>
                                        <p class="m-b-5">@Model.Description</p>
                                    </div>
                                </div>
                            </div>
                            <div class="main-content-body tab-pane p-4 border-top-0" id="projects">
                                <div class="card-body">
                                    <div class="col-sm-12 col-lg-12 col-xl-12">
                                        <div class="card custom-card overflow-hidden">
                                            @foreach (Project project in Model.Projects)
                                            {
                                                BTUser? projectManager = await _ProjectService.GetProjectManagerAsync(project.Id);
                                                <div class="card custom-card">
                                                    <div class="card-header custom-card-header border-bottom-0">
                                                        <h5 class="main-content-label tx-dark tx-medium mb-0">
                                                            @if (projectManager != null)
                                                            {
                                                                <div class="fw-medium fs-lg">
                                                                    @projectManager.FullName
                                                                </div>
                                                                <div class="text-gray-600 mt-1">Project Manager</div>
                                                            }
                                                            else
                                                            {
                                                                <span>No Project Manager</span>
                                                            }
                                                        </h5>
                                                    </div>
                                                    <div class="card-body">
                                                        <h6 class="">@project.Name</h6>
                                                        <p class="card-text">@project.Description</p>
                                                        <div class="w-full row text-gray-600 fs-xs fs-sm-sm text-center p-2">
                                                            <div class="col-6 border-end"> Developers: <span class="fw-medium">@((await _ProjectService.GetProjectMembersByRoleAsync(project.Id, nameof(BTRoles.Developer), project.CompanyId)).Count)</span></div>
                                                            <div class="col-6 border-start"> Submitters: <span class="fw-medium">@((await _ProjectService.GetProjectMembersByRoleAsync(project.Id, nameof(BTRoles.Developer), project.CompanyId)).Count)</span> </div>
                                                        </div>
                                                        <a asp-action="Details" asp-route-id="@project.Id" asp-controller="Projects" class="btn btn-primary ripple btn-block">Details</a>
                                                    </div>
                                                </div>
                                                <hr />
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="main-content-body tab-pane border-top-0" id="members">
                                <div class="card-body pd-b-10">
                                    <div class="d-flex justify-content-end">
                                    @if (User.IsInRole("Admin"))
                                    {
                                        <a asp-action="Create" asp-controller="Invites" type="button" class="btn btn-primary btn-icon-text my-2 me-2">
                                            Invite New Members
                                        </a>
                                        <a asp-action="ManageUserRoles" asp-controller="Companies" type="button" class="btn btn-secondary btn-icon-text my-2 me-2">
                                            Manage Roles
                                        </a>
                                    }
                                    </div>
                                    <!-- row -->
                                    <div class="row row-sm">
                                        <h5>Administrators</h5>
                                        @foreach (BTUser member in Model.Members)
                                        {
                                            if (await _RoleService.IsUserInRoleAsync(member, nameof(BTRoles.Admin)))
                                            {
                                                <partial name="_MembersCardPartial" model="member" />
                                            }
                                        }

                                    </div>
                                    <div class="row row-sm">
                                        <h5>Project Managers</h5>
                                        @foreach (BTUser member in Model.Members)
                                        {
                                            if (await _RoleService.IsUserInRoleAsync(member, nameof(BTRoles.ProjectManager)))
                                            {
                                                <partial name="_MembersCardPartial" model="member" />
                                            }
                                        }
                                    </div>
                                    <div class="row row-sm">
                                        <h5>Developers</h5>
                                        @foreach (BTUser member in Model.Members)
                                        {
                                            if (await _RoleService.IsUserInRoleAsync(member, nameof(BTRoles.Developer)))
                                            {
                                                <partial name="_MembersCardPartial" model="member" />
                                            }
                                        }

                                    </div>
                                    <div class="row row-sm">
                                        <h5>Submitters</h5>
                                        @foreach (BTUser member in Model.Members)
                                        {
                                            if (await _RoleService.IsUserInRoleAsync(member, nameof(BTRoles.Submitter)))
                                            {
                                                <partial name="_MembersCardPartial" model="member" />
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="main-content-body tab-pane p-4 border-top-0" id="settings">
                                <div class="card-body" data-select2-id="12">
                                    <form asp-action="Edit">
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        <input type="hidden" asp-for="Id" />
                                        <input type="hidden" asp-for="ImageFileData" />
                                        <input type="hidden" asp-for="ImageFileType" />
                                        <div class="form-group">
                                            <label asp-for="Name" class="control-label"></label>
                                            <input asp-for="Name" class="form-control" />
                                            <span asp-validation-for="Name" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Description" class="control-label"></label>
                                            <input asp-for="Description" class="form-control" />
                                            <span asp-validation-for="Description" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <input type="submit" value="Save" class="btn btn-primary" />
                                        </div>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- End Row -->
            </div>
        </div>
    </div>
</div>
<!-- End Main Content-->
@section Scripts{
    <!--  Plotly Charts  -->
    <!-- Load plotly.js into the DOM -->
    <script src='https://cdn.plot.ly/plotly-2.4.2.min.js'></script>
    <script>
        $.ajax({
            type: "POST",
            url: "/Home/PlotlyBarChart",
            data: '{}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                var data = result;

                var layout = { barmode: 'group' };

                Plotly.newPlot('plotlyChart', data, layout);
            },
            failure: function (result) {
                alert(result.d);
            },
            error: function (result) {
                alert(result.d);
            }
        });
    </script>
    }
